# Port to run the proxy server on
PORT=3000

# API key for validating incoming requests to this proxy
OPENAI_API_KEY=test

# Google AI Studio Gemini API Key
GEMINI_API_KEY=AIzaSyAvNSFWLB2uBCbipfQ0e3ANx9KzvumxD3I
